/* start commons *******************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

a:hover {
  color: unset; }

/* end commons *******************************************************************************************************************************************************/
/* start navbar *******************************************************************************************************************************************************/
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0; }

.header__title--fontstyle {
  font-family: "Pacifico", cursive;
  color: #8c44cf;
  font-size: 3rem; }

.header__title--fontstyle:hover {
  color: #8c44cf; }

nav ol {
  list-style: none; }
  nav ol li a {
    color: black;
    font-size: calc(2rem + 0.65vw);
    font-weight: 400;
    text-align: center; }

.header__upperheader {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 150%;
  background-color: white;
  text-align: center;
  width: 100%;
  grid-area: uphead; }

li a:hover {
  font-size: calc(2.2rem + 0.65vw); }

.header {
  grid-area: header; }

.header__div {
  width: 100%;
  background-color: #eebcf7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0 20px 0; }

.header__nav {
  background-color: #eebcf7;
  display: flex;
  margin-bottom: 0px;
  position: relative;
  border-radius: 3px;
  z-index: 2; }

.header__list--desplegable {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 90%;
  height: 90vh;
  top: 0px;
  padding: 50px 0 100px 0;
  background-color: rgba(255, 255, 255, 0.8);
  transform-origin: 0% 0%;
  transform: translate(-101%, 0);
  transition-duration: 1s; }

.header__nav input {
  display: flex;
  width: 10vw;
  height: 10vw;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  margin: 0px 0 0 0; }

.header__nav div {
  position: absolute; }

.header__nav input:checked ~ ol {
  transform: none; }

.header__image--w50 {
  width: 50%; }

.centerLogo {
  display: flex;
  justify-content: center;
  align-items: center; }

.header__image {
  width: 50%;
  align-self: center; }

.header__navsticky {
  display: none;
  background-color: #eebcf7;
  position: sticky;
  top: 0px;
  margin: -1px 0px;
  padding: 0px;
  grid-area: navsticky;
  width: 100%; }

.header__list--sticky {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: row; }

/* end navbar *******************************************************************************************************************************************************/
/* start footer *******************************************************************************************************************************************************/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(238, 188, 247, 0.8);
  grid-area: footer;
  min-width: 500px;
  width: auto;
  margin: 30px 0 0 0;
  padding: 10px 10px 10px 10px; }
  footer div h4 {
    font-size: calc(2rem + 0.2vw);
    font-weight: 500; }
  footer div h5 {
    font-size: calc(1.5rem + 0.2vw);
    font-weight: 500; }

.footer__contact {
  width: 85%; }

.footer__media {
  width: 15%; }

.footer__img--size {
  width: 50px; }

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: row; }

.grow {
  transition: all .3s ease-in-out; }

.grow:hover {
  transform: scale(1.2); }

/* end footer *******************************************************************************************************************************************************/
/* start aside *******************************************************************************************************************************************************/
aside {
  grid-area: aside;
  background-color: rgba(238, 188, 247, 0.8);
  margin: 30px 10px 20px 10px;
  padding: 10px 20px 20px 20px;
  width: auto;
  contain: content;
  box-sizing: border-box; }
  aside h2 {
    font-size: calc(3rem + 0.2vw);
    font-weight: 500;
    text-align: center; }
  aside p {
    font-size: calc(1.5rem + 0.2vw);
    line-height: 150%;
    text-align: center; }

.aside__flex {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box; }

.aside__cuidados {
  display: none;
  grid-area: aside;
  background-color: rgba(238, 188, 247, 0.8);
  margin: 30px 10px 30px 10px;
  contain: content; }
  .aside__cuidados div h2 {
    font-size: calc(2rem + 0.2vw);
    font-weight: 500; }
  .aside__cuidados div p {
    font-size: calc(1.2rem + 0.2vw);
    font-weight: 500;
    line-height: 150%; }

.aside__graphs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px; }
  .aside__graphs div h3 {
    font-size: calc(2rem + 0.2vw);
    font-weight: 500;
    text-align: center; }

.aside__graphsmobile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%; }
  .aside__graphsmobile div {
    margin: 20px 0 20px 0; }
    .aside__graphsmobile div h3 {
      font-size: calc(2rem + 0.2vw);
      font-weight: 500;
      text-align: center; }

.aside__graphsdesktop {
  display: none;
  height: 100%;
  width: 100%; }

/*ends aside & index*/
.asideof__graphs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%; }

/*end aside *******************************************************************************************************************************************************/
/* start index *******************************************************************************************************************************************************/
.main__grid {
  grid-area: quienes; }

.main__grid {
  grid-area: quienes; }

.quienes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgba(238, 188, 247, 0.8);
  width: auto;
  margin: 30px 10px 20px 10px;
  padding: 10px 20px 20px 20px;
  box-sizing: border-box; }
  .quienes article h2 {
    font-size: calc(3rem + 0.2vw);
    font-weight: 500; }
  .quienes article p {
    font-size: calc(1.5rem + 0.2vw);
    line-height: 150%; }

.quienes__article {
  width: 100%;
  height: auto; }

.sliderWidth {
  width: 100%; }

.main__title--margin {
  margin: 0 0px; }

.main__title--align {
  text-align: center; }

/*starts comments*/
.comments__grid {
  grid-area: comments; }

.comments--bgpink {
  background-color: #eebcf7;
  width: auto;
  margin: 0 10px 20px 10px; }

article h2 {
  font-size: calc(3rem + 0.2vw);
  font-weight: 500;
  text-align: center; }

.comments {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; }
  .comments h4 {
    font-size: calc(2rem + 0.2vw);
    font-weight: 500; }
  .comments p {
    font-size: calc(1.5rem + 0.2vw);
    line-height: 150%; }

.comments--borders {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0 10px 0;
  box-sizing: border-box; }

.comments--width {
  width: 90%; }

.comments--bgwhite {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, rgba(255, 255, 255, 0.706) 0%, rgba(226, 160, 238, 0.143) 100%); }

/* end index *******************************************************************************************************************************************************/
/* start ofertas *******************************************************************************************************************************************************/
.ofertas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  grid-area: ofertas;
  box-sizing: border-box; }
  .ofertas li {
    width: 45%;
    border: 3px;
    top: 0;
    margin: 2%;
    height: auto; }
    .ofertas li figure {
      width: 100%;
      height: auto;
      object-fit: contain;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-direction: column;
      background-color: white;
      border: 3px solid; }
      .ofertas li figure figcaption {
        font-size: calc(1.5rem + 0.2vw);
        line-height: 150%;
        text-align: center;
        background-color: #C1F4C5;
        text-overflow: clip;
        text-overflow: ellipsis; }
      .ofertas li figure img {
        object-fit: contain;
        height: 30vh; }

/* end ofertas *******************************************************************************************************************************************************/
/* start marcas *******************************************************************************************************************************************************/
.marcas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  box-sizing: border-box;
  margin: 60px 0 60px 0; }

.marcas__main {
  grid-area: marcas;
  background-color: rgba(238, 188, 247, 0.8); }

.marcas__li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  border: 3px;
  height: 40vh;
  flex-direction: row;
  background-color: white;
  border: 3px solid;
  margin: 20px; }

.marcas__image {
  object-fit: contain;
  min-width: 100%;
  max-width: 100%;
  justify-self: center; }

/* end marcas *******************************************************************************************************************************************************/
/* start cuidados *******************************************************************************************************************************************************/
.cuidados__body h3 {
  font-size: calc(2rem + 0.2vw);
  font-weight: 500; }

.cuidados__body h4 {
  font-size: calc(1.5rem + 0.2vw);
  font-weight: 500; }

.cuidados__body p {
  font-size: calc(1.5rem + 0.2vw);
  line-height: 150%; }

.cuidados__body iframe {
  width: 90%;
  height: 400px; }

.cuidados_paddingtxt, .cuidados__orotxt, .cuidados__platatxt {
  padding: 30px 20px 30px 20px;
  margin: 30px 0px 0px 0px; }

.cuidados_paddingvid, .cuidados__orovid, .cuidados__platavid {
  padding: 30px 20px 30px 20px;
  margin: 0px 0px 30px 0px; }

.cuidados__orotxt {
  grid-area: orotxt;
  background-color: rgba(238, 188, 247, 0.8); }

.cuidados__orovid {
  grid-area: orovid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 188, 247, 0.8); }

.cuidados__platatxt {
  grid-area: platatxt;
  background-color: rgba(238, 188, 247, 0.8); }

.cuidados__platavid {
  grid-area: platavid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 188, 247, 0.8); }

.cuidados__vid {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* end cuidados *******************************************************************************************************************************************************/
/* start contacto *******************************************************************************************************************************************************/
.form {
  width: 90%;
  grid-area: formulario; }

.fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eebcf7;
  margin: 12% 0 0 15%;
  width: 80%;
  box-sizing: border-box; }
  .fieldset h3 {
    font-size: calc(2rem + 0.2vw);
    font-weight: 500; }
  .fieldset div {
    font-size: calc(1.2rem + 0.2vw);
    font-weight: 500;
    line-height: 150%; }

.form__title {
  text-align: center; }

.form__label--width {
  width: 50%; }

.form__items {
  display: flex;
  justify-content: space-between; }

.textarea {
  margin: 0px 1vw 0 15%;
  font-size: calc(1.1rem + 0.4vw);
  width: 80%;
  box-sizing: border-box; }

.form__buttons {
  margin: 0 1vw 17% 15%; }

.contacto__map {
  margin: 10% 0 10% 15%;
  grid-area: mapa;
  box-sizing: border-box; }

.contacto__map--size {
  width: 80%;
  height: 400px; }

/* end contacto *******************************************************************************************************************************************************/
/* start error *******************************************************************************************************************************************************/
.body__error {
  margin: 4% 1% 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .body__error img {
    width: 70%; }
  .body__error p {
    font-size: calc(2rem + 0.2vw);
    font-weight: 500;
    text-align: center; }

/* end error *******************************************************************************************************************************************************/
/* start grid&query *******************************************************************************************************************************************************/
.index__body {
  background-image: url(../img/background.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas: "uphead" "header" "navsticky" "quienes" "comments" "aside" "footer"; }

.ofertas__body {
  background-image: url(../img/background.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "uphead" "header" "navsticky" "ofertas" "aside" "footer"; }

.marcas__body {
  background-image: url(../img/background.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "uphead" "header" "navsticky" "marcas" "aside" "footer"; }

.cuidados__body {
  background-image: url(../img/background.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-areas: "uphead" "header" "navsticky" "orotxt" "orovid" "platatxt" "platavid" "footer"; }

.contacto__body {
  background-image: url(../img/background.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "uphead" "header" "navsticky" "formulario" "mapa" "footer"; }

@media (min-width: 700px) {
  .header__navsticky {
    display: block;
    z-index: 3; }
  .header__nav {
    display: none; }
  .comments--width {
    width: 45%; }
  .comments {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
  .asideind__graphs {
    flex-direction: row; }
    .asideind__graphs div {
      margin: 0px 0 0px 0; }
  .aside__graphsmobile {
    flex-direction: row; }
  .ofertas li {
    width: 28%; }
  .asideof__graphs {
    flex-direction: row; }
  .header__title--fontstyle {
    font-size: 50px;
    width: 350px;
    text-align: center; }
  .header__image {
    height: auto;
    width: 200px; }
  .header__image--width50 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__img--size {
    width: 70px; }
  .cuidados__body {
    background-image: url(../img/background.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "uphead uphead" "header header" "navsticky navsticky" "orotxt orovid" "platatxt platavid" "footer footer"; }
  .cuidados_paddingtxt, .cuidados__orotxt, .cuidados__platatxt {
    margin: 30px 0px 30px 0px; }
  .cuidados_paddingvid, .cuidados__orovid, .cuidados__platavid {
    margin: 30px 0px 30px 0px; }
  .footer2__title--md {
    font-size: calc(2rem + 0.2vw);
    font-weight: 400; }
  .footer2__text--sm {
    font-size: calc(1.5rem + 0.2vw); }
  .cuidados__body div iframe {
    height: 300px; }
  .contacto__body {
    background-image: url(../img/background.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "uphead uphead" "header header" "navsticky navsticky" "formulario mapa" "footer footer"; }
  .contacto__map--size {
    width: 80%;
    height: 90%; }
  .body__error img {
    width: 50%; } }

@media (min-height: 1024px) {
  .fieldset {
    margin: 20vh 0 0 15%;
    width: 80%; }
  .contacto__map {
    margin: 20vh 0 5vh 15%; }
  .form__buttons {
    margin: 0 1vw 10vh 15%; } }

@media (min-width: 1200px) {
  .index__body {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-areas: "uphead uphead uphead" "header header header" "navsticky navsticky navsticky" "quienes quienes aside" "comments comments comments" "footer footer footer"; }
  .aside__graphs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%; }
  .aside__graphsmobile {
    display: none; }
  .aside__graphsdesktop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    .aside__graphsdesktop div {
      margin: 20px 0 20px 0; }
      .aside__graphsdesktop div h3 {
        font-size: calc(2rem + 0.2vw);
        font-weight: 500;
        text-align: center; }
  .aside__cuidados {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box; }
  .aside__bg {
    border: 1px solid #000000;
    width: 260px;
    height: auto;
    background-color: #ffffff;
    margin: 0px 10px 0px 10px; }
  .comments--width {
    width: 24%; }
  .marcas__body {
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "uphead uphead" "header header" "navsticky navsticky" "marcas aside" " footer footer"; }
  .cuidados__body {
    background-image: url(../img/background.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "uphead uphead uphead" "header header header" "navsticky navsticky navsticky" "orotxt orovid aside" "platatxt platavid aside" "footer footer footer"; } }

@media (min-height: 1368px) {
  .fieldset {
    margin: 20vh 0 0 15%;
    width: 80%; }
  .contacto__map {
    margin: 20vh 0 15vh 15%; }
  .form__buttons {
    margin: 0 1vw 20vh 15%; } }

/* end grid&query *******************************************************************************************************************************************************/
