aside{
    grid-area: aside;
    background-color: map-get($map: $paleta, $key:'bgAlpha' );
    margin: 30px 10px 20px 10px;
    padding: 10px 20px 20px 20px;
    width: auto;
    contain: content;
    box-sizing: border-box;
    h2{
        @include titleXl;
        text-align: center;
    }
    p {
        @include textXl;
        text-align: center;
    }

}
.aside__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: auto;
    box-sizing: border-box;
}
.aside__cuidados--flex{
    @extend .aside__flex;
    div{
        h2{
            @include titleMd;
        }
        p{
            @include textMd;
        }
    }
}
.aside__graphs{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    width: 90%;
}
.aside__cuidados{
    display: none;
    grid-area: aside;
    background-color: map-get($map: $paleta, $key:'bgAlpha' );
    margin: 40px 10px 30px 10px;
    width: auto;
    contain: content;
    box-sizing: border-box;
}
.aside__bg{
    border: 1px solid #000000; 
    width:260px ; 
    height: auto; 
    background-color: #ffffff;
    margin: 10px 0 10px 0;
}
.aside__chart{
    width: 100%; 
    height: auto; 
    text-align: center; 
    padding-top: 0px; 
    font-size: 18px; 
    font-weight: bold; 
    background-color: #000000;
}
.aside__title{
    color: #FFFFFF; 
    background-color: #000000; 
    text-decoration: none;
}
/*ends aside & index*/
.asideof__graphs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.asideof__bg{
    border: 1px solid #000000; 
    width:260px ; 
    height: auto; 
    background-color: #ffffff;
    margin: 10px 0 10px 0;
}