@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap');
$bgColorsolid: rgba(238, 188, 247, 1);
$bgColoralpha:rgba(238, 188, 247, 0.7);
$headerTitleColor: rgb(140, 68, 207);
$headerTitleFontstyle:'Pacifico', cursive;
$navFontsize: calc(2rem + 0.65vw);