.cuidados__body {
        h3 {
            @include titleMd;
        }

        h4 {
            @include titleSm;
        }

        p {
            @include textXl;
        }

        iframe {
            width: 90%;
            height: 400px;
        }
}
.cuidados_paddingtxt{
    padding: 30px 20px 30px 20px;
    margin: 30px 0px 0px 0px;
}
.cuidados_paddingvid{
    padding: 30px 20px 30px 20px;
    margin: 0px 0px 30px 0px;
}
.cuidados__orotxt {
    grid-area: orotxt;
    background-color: map-get($map: $paleta, $key:'bgAlpha');
    @extend .cuidados_paddingtxt
}

.cuidados__orovid {
    grid-area: orovid;
    @include flex(flex,center,center);
    background-color: map-get($map: $paleta, $key:'bgAlpha');
    @extend .cuidados_paddingvid
}

.cuidados__platatxt {
    grid-area: platatxt;
    background-color: map-get($map: $paleta, $key:'bgAlpha');
    @extend .cuidados_paddingtxt
}

.cuidados__platavid {
    grid-area: platavid;
    @include flex(flex,center,center);
    background-color: map-get($map: $paleta, $key:'bgAlpha');
    @extend .cuidados_paddingvid
}

.cuidados__vid {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}