/* start error *******************************************************************************************************************************************************/
.body__error{
    margin: 4% 1% 0 5%;
    @include flex (flex, center, center);
    flex-direction: column;
    img{
        width: 70%;
    }
    p{
        @include titleMd;
        text-align: center;
    }    
}
/* end error *******************************************************************************************************************************************************/