/* start grid&query *******************************************************************************************************************************************************/

.index__body {
    @include body;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "uphead""header""navsticky""quienes""comments""aside""footer";
}

.ofertas__body {
    @include body;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "uphead""header""navsticky""ofertas""aside""footer";
}

.marcas__body {
    @include body;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "uphead""header""navsticky""marcas""aside""footer";
}

.cuidados__body {
    @include body;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas: "uphead""header""navsticky""orotxt""orovid""platatxt""platavid""footer";
}

.contacto__body {
    @include body;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "uphead""header""navsticky""formulario""mapa""footer";
}

@media (min-width: 700px) {
    .header__navsticky {
        display: block;
        z-index: 3;
    }

    .header__nav {
        display: none;
    }

    .comments--width {
        width: 45%;
    }

    .comments {
        width: 100%;
        @include flex (flex, space-evenly, center);
        flex-wrap: wrap;
        flex-direction: row;
    }

    .asideind__graphs {
        flex-direction: row;

        div {
            margin: 0px 0 0px 0;
        }
    }

    .aside__graphsmobile {
        flex-direction: row;
    }

    .ofertas {
        li {
            width: 28%;
        }
    }

    .asideof__graphs {
        flex-direction: row;
    }

    .header__title--fontstyle {
        font-size: 50px;
        width: 350px;
        text-align: center;
    }

    .header__image {
        height: auto;
        width: 200px;
    }

    .header__image--width50 {
        @include flex (flex, center, center);
    }

    .footer__img--size {
        width: 70px;
    }

    .cuidados__body {
        background-image: url(../img/background.jpg);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: "uphead uphead""header header""navsticky navsticky""orotxt orovid""platatxt platavid""footer footer";
    }

    .cuidados_paddingtxt {
        margin: 30px 0px 30px 0px;
    }

    .cuidados_paddingvid {
        margin: 30px 0px 30px 0px;
    }

    .footer2__title--md {
        font-size: calc(2rem + 0.2vw);
        font-weight: 400;
    }

    .footer2__text--sm {
        font-size: calc(1.5rem + 0.2vw);
    }

    .cuidados__body {
        div {
            iframe {
                height: 300px;
            }
        }
    }

    .contacto__body {
        background-image: url(../img/background.jpg);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "uphead uphead""header header""navsticky navsticky""formulario mapa""footer footer";
    }

    .contacto__map--size {
        width: 80%;
        height: 90%;
    }

    .body__error{
        img {
            width: 50%;
        }
    }
}

@media (min-height: 1024px) {
    .fieldset {
        margin: 20vh 0 0 15%;
        width: 80%;
    }

    .contacto__map {
        margin: 20vh 0 5vh 15%;
    }

    .form__buttons {
        margin: 0 1vw 10vh 15%;
    }
}

@media (min-width: 1200px) {
    .index__body {
        display: grid;
        grid-template-columns: 40% 40% 20%;
        grid-template-areas: "uphead uphead uphead""header header header""navsticky navsticky navsticky"
            "quienes quienes aside""comments comments comments""footer footer footer";
    }

    .aside__graphs {
        @include flex (flex, space-evenly, center);
        flex-direction: column;
        width: 100%;
        height: 90%;
    }

    .aside__graphsmobile {
        display: none;
    }

    .aside__graphsdesktop {
        @include flex (flex, space-evenly, center);
        flex-direction: column;
        width: 100%;

        div {
            margin: 20px 0 20px 0;

            h3 {
                @include titleMd;
                text-align: center;
            }
        }
    }

    .aside__cuidados {
        @include flex (flex, stretch, center);
        flex-direction: column;
        box-sizing: border-box;
    }

    .aside__bg {
        border: 1px solid #000000;
        width: 260px;
        height: auto;
        background-color: #ffffff;
        margin: 0px 10px 0px 10px;
    }

    .comments--width {
        width: 24%;
    }

    .marcas__body {
        grid-template-columns: 80% 20%;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: "uphead uphead""header header""navsticky navsticky""marcas aside"" footer footer";
    }

    .cuidados__body {
        background-image: url(../img/background.jpg);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 40% 40% 20%;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: "uphead uphead uphead""header header header""navsticky navsticky navsticky""orotxt orovid aside""platatxt platavid aside""footer footer footer";
    }

}

@media (min-height: 1368px) {
    .fieldset {
        margin: 20vh 0 0 15%;
        width: 80%;
    }

    .contacto__map {
        margin: 20vh 0 15vh 15%;
    }

    .form__buttons {
        margin: 0 1vw 20vh 15%;
    }
}

/* end grid&query *******************************************************************************************************************************************************/